body{
    text-align: center;
    justify-content: center;
    color:rgb(14, 13, 12);
    background-color:rgb(255, 212, 69);
    margin:25px;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

header{
    background-color:rgb(14, 13, 12);
    color:rgb(245, 243, 239);
    text-align: center;
    padding: 25px;
    border-radius: 5px;
}

#link_inicio {
    text-align: center;
    
}
#link_inicio a{
    text-align: center;
    color:rgb(236, 159, 57);;
    text-decoration: none;
}

#link_inicio a:hover{
    color:rgb(255, 212, 69);
}