body{
    background-color: rgb(255, 208, 0);
}

Header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}